- if params[:sound_choice] == 'nature'
  %iframe.media{src: 'http://naturesoundsfor.me/rain-with-birds'}
- elsif params[:sound_choice] == 'ticking'
  %iframe.media{src: 'http://theactiongame.herokuapp.com/aclock/small.html'}
- elsif params[:sound_choice] == 'music'
  Until we find some radio to embed, go ahead and play your own music
- else
  You have selected silence
