%h3 Contact Info

%p= mail_to 'playfullyproductive@gmail.com', 'Email playfullyproductive@gmail.com to...'

%ul
  %li Schedule an intro session
  %li Request an invite to our TAG.com user FaceBook group
  %li Report a bug
  %li Request a feature