%h2 Action Integrity Scores

#scores
  .large-4.columns.score-quadrant
    %h5 What is an Action Score?
    %ul
      %li If TAG.com is a game, these are the scoring rules.  Flow matters to you as a person.  Value matters to you as an achiever/performer.  Integrity Score matters to you as a player.
      %li You are asked to enter your SUBJECTIVE Action Score at the end of an Action.
      %li At the same time, TAG.com acts as a referee, and will subtract points as necessary, to come up with your OBJECTIVE Action score, which acts as a ceiling.
  .large-4.columns.score-quadrant
    %h5 +1: Quasi-Action
    %ul
      %li Not even trying
      %li Action started outside the actual 30-minutes of the time slot
  .large-4.columns.score-quadrant
    %h5 +3: Attempted Action
    %ul
      %li
  .large-4.columns.score-quadrant
    %h5 +6: Loose Action
    %ul
      %li
  .large-4.columns.score-quadrant
    %h5 +8: Quality Action
    %ul
      %li
  .large-4.columns.score-quadrant
    %h5 +10: Exceptional Action
    %ul
      %li
