%h2 Scores

#scores
  .large-4.columns.score-quadrant
    %h5 What is an Action Score?
    %ul
      %li
  .large-4.columns.score-quadrant
    %h5 +1: Quasi-Action
    %ul
      %li Not even trying
      %li Action started outside the actual 30-minutes of the time slot
  .large-4.columns.score-quadrant
    %h5 +3: Attempted Action
    %ul
      %li
  .large-4.columns.score-quadrant
    %h5 +6: Loose Action
    %ul
      %li
  .large-4.columns.score-quadrant
    %h5 +8: Quality Action
    %ul
      %li
  .large-4.columns.score-quadrant
    %h5 +10: Exceptional Action
    %ul
      %li
