#welcome
  %h3 Welcome to TheActionGame.com!

  %p Thank you for helping out as a beta tester!

  %ul
    %li This site is not yet ready for do-it-yourself users.
    %li
      %span In order to get started and learn about it, please
      %span= link_to 'contact us', contact_path
      %span to schedule a 25-minute intro.
    %li Your only cost would be another 25-minute session where you give us feedback about the site.