%h2= "#{aktions.count} #{I18n.t 'Aktions'}"

%table#aktions-table.compact
  %thead
    %tr
      %th Time
      %th Status
      %th Focus
      %th Verb
      %th Team
      %th Role
      %th Int.
      %th Flow
      %th Value
      %th
  %tbody
    = render aktions