%h2= "#{aktions.count} #{I18n.t 'Aktions'}"

%table.datatables.compact
  %thead
    %tr
      %th Time
      %th Status
      %th Focus
      %th Verb
      %th Role
      %th Project
      %th Intensity
      %th Flow
      %th Value
      %th Break
      %th
  %tbody
    = render aktions