.clear-both
%table{style: "border: 0px; padding: 0px; margin: 0px"}
  %tbody
    %tr
      %td.mini-menu-action= "Playing At #{Aktion.current_timeslot}:"
      - Aktion.current.sort_by{ |a| a.player.try(:name) }.each do |a|
        %td.mini-menu-action= link_to a.summary_to_share, a.player