%table{style: "border: 0px; padding: 0px; margin: 0px"}
  %tbody
    %tr
    - current_player.todays_actions.sort_by{|a|a.timeslot}.each do |a|
      %td.mini-menu-action{style: "background-color: #{a.color}"}= link_to (a.intensity || 0), edit_aktion_path(a, edit_finished: true), title: a.summary_with_time_and_focus