%h4
  Projects
  = link_to '(New)', new_team_project_path(@team)
  = "for #{@team.name}"

%table#projects-table.compact
  %thead
    %th Name
    %th Description
    %th
  %tbody
    = render projects
