%h5
  Projects
  = link_to "(New for #{team.name})", new_team_project_path(team)

%table#projects-table.compact
  %thead
    %th
    %th Tm
    %th Name
    %th Created
    %th Active
    %th Commitment
    %th Actions
    %th Last Updated
    %th Description
  %tbody
    = render projects
