%h5
  Projects
  - if team
    = link_to "(New for #{team.name})", new_team_project_path(team)
  - else
    = link_to "(New)", new_project_path

%table#projects-table.compact
  %thead
    %th
    %th Tm
    %th Name
    %th Active
    %th Commitment
    %th Actions
    %th Created
    %th Updated
    %th Description
  %tbody
    = render projects
