development:
  adapter:  postgresql
  host:     localhost
  encoding: unicode
  database: the_action_game_development
  pool:     5
  template: template0

test:
  adapter:  postgresql
  host:     localhost
  encoding: unicode
  database: the_action_game_test
  pool:     5
  template: template0
