%h1= "Listing #{I18n.t :Players}"

%table#players-table.compact
  %thead
    %tr
      %th
      %th Name
      %th Actions
      %th Teams
      %th Roles
      %th Projects
      %th Joined
      %th Email
      %th
      %th
      %th

  %tbody
    = render @players
