%h4
  Roles
  = link_to '(New)', new_team_role_path(@team)
  = "for #{@team.name}"

%table#roles-table.compact
  %thead
    %tr
      %th Name
      %th Team
      %th Description
      %th
      %th
      %th

  %tbody
    = render roles