%h5
  Roles
  = link_to "(New for #{current_team.name})", new_team_role_path(current_team) if current_team

%table#roles-table.compact
  %thead
    %tr
      %th
      %th Name
      %th Tm
      %th Parent Role
      %th Actions
      %th Last Updated
      %th
      %th
      %th

  %tbody
    = render roles, team: current_team