- team ||= current_team
%h5
  Roles
  = link_to '(New)', new_team_role_path(team)
  = "for #{team.name}"

%table#roles-table.compact
  %thead
    %tr
      %th
      %th Name
      %th Short
      %th Parent
      %th Team
      %th
      %th
      %th

  %tbody
    = render roles, team: team