$(document).ready ->
  $('#aktions-table').DataTable
    autoWidth: false
    searching: false
    order: [0, 'desc']
    pageLength: 25
    lengthMenu: [ [10, 25, 50, -1], [10, 25, 50, 'All'] ]
    language: lengthMenu: 'Display _MENU_ Actions'

  # $('#add-verb').on 'click', ->
  #   input_verb = prompt('Please enter your verb', 'Doing what?')
  #   next_verb_id = <%= Verb.order(:id).last.id %> + 1
  #   alert 'next_verb_id: ' + next_verb_id
  #   $.ajax({
  #     type: "POST",
  #     url: "/verbs",
  #     data: { verb: { name: input_verb } },
  #     success:(data) ->
  #       console.log 'data', data
  #       $('#aktion_verb_id').append("<option value='" + next_verb_id + " '>" + input_verb + "</option>")
  #       return false
  #     error:(data) ->
  #       alert 'Unable to add your verb'
  #       return false
  #   })
