// Place all the styles related to the aktions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.clock {
  min-height: 300px;
  height: 300px;
  min-width: 300px;
  width: 300px;
  background-color: red;
}

.commit {
  background-color: red;
  color: white;
  margin-bottom: 10px;
}

.focus {
  background-color: green;
  color: white;
  margin-bottom: 20px;
}

.review {
  background-color: yellow;
  color: black;
}

.relax {
  background-color: blue;
  color: white;
}

.toolate {
  background-color: #333333;
  color: white;
}

.white-bg {
  background-color: white;
}

.commit-bg {
  background-color: #ffcccc;
  .commit-button {
    input {
      font-weight: bold;
      padding: 10px;
      margin: 0px;
      font-size: 130%;
      background-color: red;
    }
  }
}

.choice {
  padding: 0px;
  label {
    margin-bottom: 10px;
  }
}

.focus-bg {
  background-color: #ccffcc;
  .button {
    background-color: green;
    a {
      color: white;
    }
    color: white;
    padding: 5px;
    margin-top: 10px;
    font-size: 130%;
    font-weight: bold;
  }
}

.review-bg {
  background-color: #ffffcc;
  button {
    padding: 10px;
    font-size: 130%;
    font-weight: bold;
  }
}

.relax-bg {
  background-color: #ccccff;
  input {
    font-weight: bold;
    margin: 0px;
    padding: 10px;
    font-size: 130%;
  }
  .break-action {
    margin: 4px 0px !important;
  }
  .countable.break-action {
    display: table-cell;
    input {
      display: inline;
      margin-bottom: 0px;
      height: 1.2rem;
      padding: 2px;
      width: 2em;
      font-weight: normal;
      font-size: 100%;
    }
    label {
      display: inline;
      margin-right: 5px;
    }
  }
  .number-label {
    background-color: yellow;
    padding-left: 1em;
  }
  .relax-button {
    input {
      background-color: blue;
      margin: 0px;      
    }
  }
}

.media {
  width: 100%;
  height: 600px;
}

.sound-option {
  background-color: #ccc;
  padding: 10px;
  margin: 10px;
  font-weight: bold;
  text-align: center;
}

.quadrants-container {
  display: flex;
  display: -webkit-flex;
  flex-wrap: wrap;
  label {
    display: inline-block;
    input {
      margin-right: 5px;
      margin-bottom: 0px;
    }
  }
}

.aktion-quadrant-header {
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 15px 0px;
}

.bigger {
  font-weight: bold;
  font-size: 140%;
}

.bigger130 {
  font-size: 110%;
}

.commit-bg, .review-bg {
}

.review-item {
  margin-bottom: 5px;
}

.action-cell {
  font-size: 90%;
//  background-color: #ffffcc;
  margin-bottom: 3px;
  height: 3em;
}

.detailed-action {
  height: 250px;
  overflow-y: scroll;
  border: 5px solid white;
}

.underline {
  text-decoration: underline;
}

.starter-aktion {
  button, button:hover {
    width: 100%;
    height: 85px;
    color: black;
    border: 1px solid black;
    margin: 5px 0px;
    padding: 5px;
    background-color: inherit;
  }
}

label#aktion_choice {
  background-color: yellow;
  padding-left: 5px;
}

#timeslot {
  select {
    padding: 0px 15px 0px 0px;
  }
}

.no-gutter {
  margin-left: -0.9375rem;
  margin-right: -0.9375rem;
}

.slot {
  margin: 5px;
}

.hslot {
  text-align: center;
  background: #666666;
  margin: 1px;
  float: left;
  min-width: 30px;
}

.no-margin {
  margin-top: 5px;
  margin-bottom: 5px;
}

.box {
  font-size: 120%;
  background: white;
  padding: 8px;
  border: 1px solid black;
  color: red;
  margin-bottom: 10px;
}

.focus-label {
  display: inline;
  font-size: 70%;
}

.focus-input {
  display: inline;
  padding: 1px;
}

#scores-table {
  display: table;
  .row {
    display: table-row;
    .cell {
      display: table-cell;
      border-bottom: 1px solid black;
    }
  }
  .score {
    padding-right: 5px;
    text-align: right;
    vertical-align: middle;
  }
  .checklist-item {
    display: block;
  }
}

.boundary {
  float: left;
  width: 100%;
}

.current-hslot {
  color: yellow;
}

.internal-external {
  float: right;
  margin-left: 3px;
}

.integrity-title {
  margin-bottom: 10px;
}

.rubric-footer {
  margin-top: 10px;
  a {
    text-decoration: underline;
  }
}