// Place all the styles related to the aktions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.aktion-form {
  min-height: 40em;
  padding-top: 10px;
  border: 1px solid black;
  background-color: white;
}

.clock {
  min-height: 300px;
  height: 300px;
  min-width: 300px;
  width: 300px;
  background-color: red;
}

.commit {
  background-color: red;
  margin-bottom: 10px;
}

.focus {
  background-color: green;
  margin-bottom: 20px;
}

.review {
  background-color: yellow;
}

.relax {
  background-color: blue;
}

.media {
  width: 100%;
  height: 400px;
}

.sound-option {
  background-color: #ccc;
  padding: 10px;
  margin: 10px;
  font-weight: bold;
  float: right;
}