/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require jquery.dataTables
 */

.datetime {
    width: auto;
    select {
      padding-right: 15px;
      spacing: 0px;
    }
}
.date {
    width: auto;
}

.white-text {
  color: white;
  input, a, a:visited {
    color: white;
  }
}

.yellow-text {
  color: yellow;
  a, a:visited {
    color: yellow !important;
  }
}

.red-text {
  color: red;
  a, a:visited {
    color: red !important;
  }
}

.light-red-text {
  color: #ff5555;
  a, a:visited {
    color: #ff5555 !important;
  }
}

.green-text {
  color: #00aa00;
  a, a:visited {
    color: #00aa00 !important;
  }
}

.blue-text {
  color: blue;
  a, a:visited {
    color: blue;
  }
}

#time {
  padding: 0px 10px;
  height: 40px;
  display: table-cell;
  vertical-align: middle;
  height: 45px;
  font-size: 200%;
  text-transform: uppercase;
}

.dropdown_item {
  width: 100%;
  font-size: 60%;
}

.clear-both {
  clear: both;
}

.bold {
  font-weight: bold;    
  input {
    font-weight: bold;    
  }
}

#scores {
  display: flex;
  display: -webkit-flex;
  flex-wrap: wrap;
}

.score-quadrant {
  background-color: cyan;
  border: 1px solid black;
}

.space-10-y {
  height: 10px;
}

#progress-bar {
  display: table;
  width: 100%;
  height: 2em;
  .progbar-item {
    display: table-cell;
    vertical-align: middle;
  }
}

#arrow-path {
  background-color: #eee;
  #arrow {
    background-color: #eee;
  }
}

.white-bg {
  background-color: white;
}

.gray-bg {
  background-color: #eee;
}

main {
  padding: 0;
  display: flex;
  display: -webkit-flex;
  width: 100%;
}

#sidebar {
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  margin: 0px;
  padding: 0px;
  width: 100px;
}

.today-item {
  flex: 1;
  -webkit-flex: 1;
  margin: 2px;
}

#content {
  flex: 1;
  -webkit-flex: 1;
  margin: 0px;
  padding: 0px;
  form {
    margin-top: 0px;
  }
}

.time-boundary {
  font-size: 70%;
  text-align: left;
  clear: both;
  width: 100%;
  float: left;
  margin-top: 2px;
  border-top: 1px solid #ccc;
  padding-top: 2px;
}