/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require jquery.dataTables
 */

.datetime {
    width: auto;
    select {
      padding-right: 15px;
      spacing: 0px;
    }
}
.date {
    width: auto;
}

.yellow-text {
  color: yellow;
  a, a:visited {
    color: yellow !important;
  }
}

.red-text {
  color: red;
  a, a:visited {
    color: red !important;
  }
}

.green-text {
  color: #00aa00;
  a, a:visited {
    color: #00aa00 !important;
  }
}

#time {
  padding: 0px 10px;
  height: 40px;
  display: table-cell;
  vertical-align: middle;
  height: 45px;
  font-size: 200%;
}

.dropdown_item {
  width: 100%;
  font-size: 60%;
}

.my-label {
  clear: both;
  text-align: right;
  padding: 0px;
  text-weight: bold;
}

.clear-both {
  clear: both;
}