<%# add navigation links to this file %>
<% if player_signed_in? %>
  <li><%= link_to 'Sign out', signout_path %></li>
<% else %>
  <li><%= link_to 'Sign in', signin_path %></li>
<% end %>
<% if player_signed_in? %>
  <% if current_player.try(:admin?) %>
    <li><%= link_to 'Players', players_path %></li>
  <% end %>
<% end %>
