-# navigation styled for Zurb Foundation 5
-# the syntax for data-topbar may need to change for Zurb Foundation 5
- cp = current_player
%nav.top-bar{"data-topbar" => true}
  %ul.title-area{"data-sound-choice" => "#{params[:sound_choice]}"}
    - if cp
      %li#time{"data-current_action" => cp.current_action, "data-tick_volume": cp.tick_volume || 30, "data-warning_volume": cp.warning_volume || 70 }
    - else
      %li#time{"data-current_action" => 'toolate', "data-tick_volume": params[:sound_choice] == 'ticking' ? 30 : 0 || 30, "data-warning_volume": 70 }
    %li.toggle-topbar.menu-icon
      %a{:href => "#"}
        Menu
  .top-bar-section
    %ul
      = render 'layouts/navigation_links'
